
/** BASIC */

body {
  margin: 0em; 
  padding: 0em;  
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0em;
	padding: 0em;
}

p, ol, ul {
	font-size: .8em;
}

ul {
	list-style-type: circle;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
	background-color: #000000;
	color: #FFFFFF;
}

/** HEADER */

#header {
	margin: 0em 0em 1em 0em; 
	padding: 0em 1em;
	background-color: #CCCCCC;
}

#header h1 {
	margin: 0em;
	padding: 0em;
	color: #FFFFFF;
}

#header h2 {
	margin: 0em;
	padding: 0em;
	font-size: 1em;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 960px;
	height: 62px;
	margin: 0 auto;
	background: #252E3A url(images/ban1.jpg) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 21px 0 0 30px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0 20px 0 22px;
	background: url(images/ban2.gif) no-repeat left center;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

/* Banner */

#banner {
	width: 960px;
	margin: 0 auto;
	padding: 8px 0;
}

/** CONTENT */

#content {
	float: left;
	width: 70%;
}

/* Footer */

#footer {
	clear: both;
	width: 870px;
	height: 50px;
	margin: 0 auto;
	padding: 35px 45px;
	background: url(images/foot1.gif) no-repeat;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
}

#footer a {
	color: #B4B4B4;
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}